<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link rel='stylesheet' href='lib/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script type='text/javascript' src='lib/angular-loading-bar/build/loading-bar.min.js'></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">
    <div id="loading-bar-container"></div>
    <ion-pane class="ion-pane-back">
      <ion-header-bar class="bar bar-header bar-positive" align-title="center">
        <p class="title">PONTO ELETRÔNICO</p>
      </ion-header-bar>
      <ion-content>
        <div class="main">
        <div class="img-centro"> 
         <img src="img/logo2-4.png" width="128"/>
        </div> 
         <p class="red-color">Os registros de batidas exibidos a seguir referem-se apenas aos registros coletados (não consolidados). Para maiores esclarecimentos entre em contato com o setor de RH de sua Secretaria.</p>
         
         <div ng-controller="consultaCtrl">
          
           <form>
              <div class="list">
                <label class="item item-input">
                  <span class="input-label">MATRÍCULA</span>
                  <input type="text" placeholder="000000-0X" ng-model="form.Matricula">
                </label>
                <label class="item item-input">
                  <span class="input-label">MÊS</span>
                  <select name="Mes" ng-model="form.Mes" class="input-select">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                 
                </label>
                <label class="item item-input">
                   <span class="input-label">ANO</span>
                    <select name="Ano" ng-model="form.Ano" class="input-select">
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                  </select>
                  
                </label>
              </div>
           </form>
           <button  class="button button-block button-positive" ng-click="doAlert()">Consultar</button>
            <p><b>{{Nome}}</b</p>
            <br/> <br/>
            <!--<ul class="list" ng-show="listshow">
                <li class="item" ng-repeat="x in datafild">
                  <b>({{x.date}})-{{x.diaString}}</b>
                  <p ng-repeat="h in x.batidas">{{h}}</p>
                </li>
            </ul>-->

           <div class="row" ng-show="listshow">
                <div class="cols" ng-repeat="x in datafild">
                  ({{x.date}})<br/>{{x.diaString}}<br/>
                  <span ng-repeat="h in x.batidas">{{h}}</br></span>
                </div>
            </div>



            <p><div align="center"><b><font color="red">{{Erro}}</font></b></div></p>

         </div><!-- Fim Controller-->       
        
        </div>        
      </ion-content>
    </ion-pane>
  </body>
</html>
