/* Empty. Add your own CSS if you like */
.ion-pane-back{
    background: #EEE;
}
.main{
    margin: 0 10px;
}
.red-color{
    color: red;
}
.img-centro{
    width: 128px;
    margin: 10px auto;
}
#loading-bar .bar {
  position: relative;
  height: 1px;
  top: -5px;
  background: red;
  -moz-box-shadow: red 1px 0 6px 1px;
  -ms-box-shadow: red 1px 0 6px 1px;
  -webkit-box-shadow: red 1px 0 6px 1px;
  box-shadow: red 1px 0 6px 1px;
}
.input-select{
    background-color: #fff;
    border-color : #fff;
    display: table;
    padding: 7px 10px 7px 0px;
    max-width: 200px;
    width: 35%;
    color: #444;
    font-size: 16px;    
}
.cols{
    float: left;
    width: 100px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: solid 1px #ccc;
    padding: 5px;
    height: 130px; 
    background: #fff;
}
.center{
    text-align: center;
}