/* Empty. Add your own CSS if you like */
.main{
    margin: 0 10px;
}
.red-color{
    color: red;
}
.img-centro{
    width: 128px;
    margin: 10px auto;
}
#loading-bar .bar {
  position: relative;
  height: 1px;
  top: -5px;
}
.input-select{
    background-color: #fff;
    border-color : #fff;
    display: table;
    padding: 7px 10px 7px 0px;
    max-width: 200px;
    width: 35%;
    color: #444;
    font-size: 16px;    
}