/* Empty. Add your own CSS if you like */
.main{
    margin: 0 10px;
}
.red-color{
    color: red;
}
.img-centro{
    width: 128px;
    margin: 10px auto;
}
#loading-bar .bar {
  position: relative;
  height: 1px;
  top: -5px;
}